html {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    height: 90px;
    padding: 20px;
    
}

.header a {
    font-size: 18px;
    font-weight: 500;
    color: #EF4038;
}

.header-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.logo {
    margin-right: auto;
    margin-left: 20px;
    height: 50px;
    width: 55px;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
}

.content-one,
.content-two,
.content-three,
.content-four {
    display: flex;
    flex: 1;
    padding: 50px 150px;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.content-one {
    background-image: url(./images/spruce-hero.png);
}

.content-two {
    
}

.content-three {
    
}

.content-four {
    
}

.footer-1 {
    display: flex;
    flex-flow: row wrap;
    background-color: #E1E3E4;
    flex-shrink: 0;
    padding: 40px;
    gap: 16px;
    align-items: center;
    
}

.footer-1 a {
    color: rgb(92, 91, 91);
}

.footer-1 p {
    margin-left: auto;
    color: rgb(92, 91, 91);
}