html {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    border-style: solid;
}

header {
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    height: 90px;
    padding: 20px;

    background-color: rgb(255, 237, 237);
}

header a {
    font-size: 18px;
    font-weight: 500;
}

header .header-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.logo {
    margin-right: auto;
    margin-left: 20px;
    height: 50px;
    width: 55px;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
}

.content-one,
.content-two,
.content-three,
.content-four {
    display: flex;
    flex: 1;
    padding: 50px 150px;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.content-one {
    background-color: rgb(255, 237, 237);
    padding-top: 140px;
    padding-bottom: 192px;
    background-image: url(./images/spruce-cropped.png);
    background-repeat: no-repeat;
    background-position: 90% 0px;
    justify-content: center;
    align-items: flex-start;
    line-height: 12px;
}

.content-one .hero-bar {
    margin-top: 8px;
    padding: 8px 150px;
    background-color: #EF4038;
}

.content-one .hero-button {
    font-size: 8px;
    margin-top: 16px;
    border-radius: 10px;
    background-color: transparent;
}

.content button:hover {
    background-color: white;
    border-color: white;
}

a, h1, h3 {
    color: rgb(61, 61, 61);
}

.content-two {
    
}

.content-three {
    
}

.content-four {
    
}

footer {
    display: flex;
    flex-flow: row wrap;
    background-color: #E1E3E4;
    flex-shrink: 0;
    padding: 40px;
    gap: 16px;
    align-items: center;
    
}

footer a {
    color: rgb(92, 91, 91);
}

footer p {
    margin-left: auto;
    color: rgb(92, 91, 91);
}